@import url(https://fonts.googleapis.com/css?family=Roboto:400+700);
body {
  background: white;
  font-family: Roboto;
}
#chart {
  position: absolute;
  top: 100vh;
  width: 650px;
  height: 300px;
  margin: 30px auto 0;
  display: block;
  transform: translate(0px, -330px);
}
#chart #numbers {
  width: 50px;
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
}
#chart #numbers li {
  text-align: right;
  padding-right: 1em;
  list-style: none;
  height: 30px;
  position: relative;
  bottom: 20px;
}
#chart #numbers li:last-child {
  height: 30px;
}
#chart #numbers li span {
  color: #4CAF50;
  position: absolute;
  bottom: 0;
  right: 10px;
}
#chart #bars {
  display: inline-block;
  width: 600px;
  height: 300px;
  padding: 0;
  margin: 0;
  /*box-shadow: -1px 1px 0 1px #444;*/
}
#chart #bars li {
  display: table-cell;
  width: 100px;
  height: 300px;
  margin: 0;
  text-align: center;
  position: relative;
}
#chart #bars li .bar {
  display: block;
  width: 70px;
  height: 0%;
  margin-left: 15px;
  position: absolute;
  bottom: 0;
}
#chart #bars li .bar:hover {
  background: #5AE;
  cursor: pointer;
}
#chart #bars li .bar:hover:before {
  color: black;
  content: attr(data-percentage) '%';
  position: relative;
  bottom: 20px;
}
#chart #bars li span {
  color: #4CAF50;
  width: 100%;
  position: absolute;
  bottom: -4em;
  left: 0;
  text-align: center;
  vertical-align: top;
  height: 3em;
}
#chart #bars p
{
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: 2em;
  color: #4CAF50;
}
