[Unit]
Description=The Chirpanalytica forecast backend

[Service]
Type=simple
WorkingDirectory=/srv/chirpanalytica/de/api
ExecStart=/srv/chirpanalytica/de/webserver.py
TimeoutSec=0
StandardOutput=journal
RemainAfterExit=no
Restart=on-abort